BookDetailModal {
    align: center middle;
}

BookDetailModal > Container {
    width: 60;
    height: auto;
    border: thick $primary;
    background: $surface;
    padding: 1 2;
}

BookDetailModal Vertical {
    height: auto;
}

BookDetailModal #modal-title {
    width: 1fr;
    content-align: center middle;
}

BookDetailModal Button {
    width: 100%;
}

BookDetailModal .detail-line {
    margin: 1 0;
    height: auto;
}

DataTable {
    height: 1fr
}
