BookSearchScreen {
    layout: vertical;
}

BookSearchScreen .content {
    width: 100%;
    height: 1fr;
    align: center middle;
    padding: 2;
}

BookSearchScreen #result-count {
    dock: bottom;
    height: 1;
    width: 100%;
    background: $panel;
    color: $text;
    padding: 0 2;
    text-align: center;
}

BookSearchScreen > .content > DataTable {
    height: 1fr
}
