BorrowerSearchScreen {
    layout: vertical;
}

BorrowerSearchScreen .content {
    width: 100%;
    height: 1fr;
    align: center middle;
    padding: 2;
}

BorrowerSearchScreen #result-count {
    dock: bottom;
    height: 1;
    width: 100%;
    background: $panel;
    color: $text;
    padding: 0 2;
    text-align: center;
}

BorrowerSearchScreen DataTable {
    height: 1fr
}
